@import 'variables';

$avatar-size: 40px;
$header-padding-y: 16px;
$back-icon-size: 16px;

.header {
  display: flex;
  justify-content: space-between;
  background-color: $primary-color;
  padding: $header-padding-y 16px;
  font-weight: bold;
  
  &_Btn{
    height: $avatar-size;
    padding: 12px 8px;
    
    &_login {
      background-color: $base-bg-color;
      border-radius: 8px;
      font-size: 12px;
      padding: 12px 8px;
      color: $primary-color;
    }
    
    &_signup {
      background-color: $primary-color;
      border-radius: 8px;
      border: solid 1px $base-bg-color;
      font-size: 12px;
      padding: 12px 8px;
      color: $base-bg-color;
    }
  }
  &_logos {
    min-width: 0;
    display: flex;
    
    img {
      cursor: pointer;
      width: $back-icon-size;
      height: $back-icon-size;
      margin: ($avatar-size - $back-icon-size) / 2 8px 0;
    }
    
  }

  &_pageTitle {
    color: white;
    line-height: $avatar-size;
    font-size: $font-lg;
  }

  &_avatar {
    width: $avatar-size;
    height: $avatar-size;
    border-radius: 100%;
  }
}